* {
    padding: 0;
    margin: 0;
}

body {

    background: lightgray;
}

#header {

    width: 1280px;
    height: 50px;
    background: white;
    align-self: center;
}
#logo { float: left;
         padding: 10px;
         margin: 0px 10px 5px 10px;}
#store {

    float:left;
    padding: 15px;  }

#products {
    float: left;
    padding: 15px;  }

#support {
    float: left;
    padding: 15px;
}

#sign {
    float: right;
    padding: 15px;
    margin: 0 50px 0 0;
}

#cart {
    float: right;
    padding: 15px;
}

#text {
    float: left;
    padding: 0px 0 100px 10px;  }

#body {
     margin: auto;

    background: gray;
    width: 1250px;
    height: 345px;
    position: relative;
    top: 50px;
}

#win {
    position: relative;
    bottom: 150px;
}

#mid-1{
    width: 1250px;
    height: 300px;
    background: yellow;
    position: relative;
    top: 81px;
    left: 15px;
}
#mid-2 {

    width: 1250px;
    height: 50px;
    background:grey;
    position: relative;
    bottom: 21px;
    color: white;
    font-size: 25px;
    margin: auto;
}

#sub-mid-1 {
    background: lightseagreen;
    width: 312.5px;
    height: 250px;
    position: relative;
    bottom: 21.5px;  }

#sub-mid-2 {
    background:black ;
    width: 312.5px;
    height: 250px;
    position: relative;
    left: 312.5px;
    position: relative;
    bottom: 271px;
}

#chara-1 {
    color: antiquewhite;
}

#chara-2 {
    color: antiquewhite;
}

#sub-mid-3 {
    background: cadetblue;
    width: 312.5px;
    height: 250px;
    position: relative;
    bottom: 521px;
    left: 625px;
}

#chara-3 {
    color: antiquewhite;  }

#sub-mid-4 {
    background: lightseagreen           ;
    width: 312.5px;
    height: 250px;
    position: relative;
    bottom: 771px;
    left: 937.5px;

}

#chara-4 {
    color: antiquewhite;  }

#mid-3 {

    width: 1250px;
    height: 50px;
    background:grey;
    position: relative;
    bottom: 21px;
    top: 110px;
    color: white;
    font-size: 25px;
    margin: auto;
}

#body-2 {

    width: 1250px;
    height: 250px;
    background: yellow;
    position: relative;
    top: 110px;
    left: 15px;
}

#sub-mid-1-w {

    background: lightseagreen           ;
    width: 312.5px;
    height: 250px;
    position: relative;
    bottom: 21px;
}