* {
    padding: 0;
    margin: 0;
}

body {

    background: lightgray;
}

#header {

    width: 1280px;
    height: 50px;
    background: white;
    align-self: center;
}
#logo { float: left;
         padding: 10px;
         margin: 0px 10px 5px 10px;}
#store {

    float:left;
    padding: 15px;  }

#products {
    float: left;
    padding: 15px;  }

#support {
    float: left;
    padding: 15px;
}

#sign {
    float: right;
    padding: 15px;
    margin: 0 50px 0 0;
}

#cart {
    float: right;
    padding: 15px;
}

#text {
    float: left;
    padding: 0px 0 100px 10px;


}